{% extends "base_generic.html" %} {% block content %}
  {% load app_filters %}
  <div class="row">
    <div class="offset-4 col-4">

      <div class="text-center">
      {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
      {% endif %} {% if next %} {% if user.is_authenticated %}
      <p>
        Your account doesn't have access to this page. To proceed, please login with
        an account that has access.
      </p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %} {% endif %}
    </div>

      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
          {{ form.username.label_tag }}
          {{ form.username|addclass:'form-control'  }}
        </div>
        <div class="form-group">
          {{ form.password.label_tag }}
          {{ form.password|addclass:'form-control' }}
        </div>
        <div class="form-group">
          <input class="btn btn-block btn-primary" type="submit" value="login"/>
        </div>
        <input type="hidden" name="next" value="{{ next }}"/>
      </form>
    <div class="form-group">
      <p><a href="{% url 'signup' %}">Sign up</a></p>
    </div>
    </div>
  </div>

  {# Assumes you setup the password_reset view in your URLconf #}
  <div class="row">
    <div class="col-4">
    </div>
  </div>
  <div class="row">
    <div class="col-4">
    </div>
  </div>


{% endblock %}
