{% extends "base_generic.html" %} {% block content %}
  {% load app_filters %}
  <div class="row">
    <div class="offset-4 col-4">
      {% if user.is_authenticated %}
        <div class="text-center mt-5">
          <p>You are already logged in.</p>
          <p><a href="/">Back to Home</a></p>
        </div>
      {% else %}

        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              {{ field.label_tag }}
              {{ field|addclass:'form-control' }}
            </div>
            {% for error in field.errors %}
              <p class="text-danger">{{ error }}</p>
            {% endfor %}
          {% endfor %}
            <input class="btn btn-block btn-primary" type="submit" value="login"/>
        </form>
        {% if form.errors %}
          <div class="mt-1 mb-1">
            <p class="text-danger">Your username and password didn't match. Please try again.</p>
          </div>
        {% endif %}
        <div class="form-group">
          <p><a href="{% url 'signup' %}">Sign up</a></p>
        </div>
        </div>
        </div>
      {% endif %}
{% endblock %}
