{% extends 'base_generic.html' %} {% block content %}
  <div class="row">
    <div class="col-8 offset-2">
      <h1 class="text-center mb-5 mt-5">Welcome to our blog application!</h1>
      <div class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur dolor, fuga harum illo odit
        provident?
        Accusantium aliquam amet animi dolorem eius exercitationem in numquam odio omnis quae, quod, unde.
      </div>
      <div class="mb-2">Aliquam blanditiis culpa, cupiditate dignissimos distinctio dolorum ea eligendi facere harum illo laborum
        magni
        molestias necessitatibus nulla numquam pariatur quae quia quidem suscipit temporibus unde veniam vitae voluptas
        voluptatem voluptates!
      </div>
      <div class="mb-2">Accusamus assumenda consequuntur dolor dolorem, eius eveniet expedita explicabo fugiat id magni modi nobis
        nostrum porro quam, reprehenderit, repudiandae sapiente sint vero? Cumque cupiditate deserunt in modi provident
        repellendus saepe?
      </div>
      <div class="mb-2">Asperiores error incidunt mollitia porro vero! Accusantium ad assumenda, autem, earum eum facilis ipsum
        maxime
        nam necessitatibus neque perspiciatis ratione reprehenderit repudiandae saepe sit? Aliquam dignissimos esse
        necessitatibus praesentium qui.
      </div>
      <div class="mb-2">Ab, ad amet aperiam aut consequuntur delectus dicta dolorem exercitationem fuga laudantium placeat
        reprehenderit
        similique, voluptatum. Dicta ducimus magni temporibus. Ab atque beatae delectus distinctio laboriosam quidem
        recusandae reiciendis, sit.
      </div>
    </div>
  </div>
{% endblock content %}
