<!DOCTYPE html>
<html lang="en">
	<head>
		{%block title%}
		<title>Document</title>
		{% endblock title %}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		{% load static %}
		<link rel="stylesheet" href="{%static%} 'css/style.css'" />
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="col-sm-2">
				{% block sidebar %}
				<ul class="sidebar-nav">
					<li>
						<a href="{% url 'index' %}">Home</a>
					</li>
					<li>
						<a href="{% url 'viewposts'%}">View Posts</a>
					</li>
				</ul>
				<ul class="sidebar-nav">
					{% if user.is_authenticated %}
					<li>
						<a href="{% url 'createpost' %}"
							>Create Post as {{ user.get_username}}</a
						>
					</li>
					<li>
						<a href="{% url 'logout' %}?next={{request.path}}">Logout</a>
					</li>
					{% else %}
					<li>
						<a href="{% url 'login' %}?next={{request.path}}">Login</a>
					</li>
					{% endif %}
				</ul>
				{% endblock sidebar %}
			</div>
		</div>
	</body>
</html>
